<div class="footer-block col-xs-6 col-sm-2 footer-navlist">
	<ul class="nav-list list-unstyled" role="menu">
	  <li class="heading">{L_FORUM}</li>
		<!-- IF not S_IS_BOT -->
			<!-- IF S_DISPLAY_MEMBERLIST --><li class="small-icon icon-members rightside" data-last-responsive="true"><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}" role="menuitem">{L_MEMBERLIST}</a></li><!-- ENDIF -->
		<!-- ENDIF -->
		<!-- EVENT overall_footer_teamlink_before -->
		<!-- IF U_TEAM --><li class="small-icon icon-team rightside" data-last-responsive="true"><a href="{U_TEAM}" role="menuitem">{L_THE_TEAM}</a></li><!-- ENDIF -->
		<!-- EVENT overall_footer_teamlink_after -->
		<!-- IF U_CONTACT_US --><li class="small-icon icon-contact rightside" data-last-responsive="true"><a href="{U_CONTACT_US}" role="menuitem">{L_CONTACT_US}</a></li><!-- ENDIF -->
	</ul>
</div>

<div class="footer-block col-xs-6 col-sm-2 footer-navlist">
	<ul class="nav-list list-unstyled" role="menu">
	  <li class="heading">Affiliates</li>
	  <li><a href="#" role="menuitem">Lorem</a></li>
	  <li><a href="#" role="menuitem">Ipsum Dolor</a></li>
	  <li><a href="#" role="menuitem">Sit amet</a></li>
	  <li><a href="#" role="menuitem">consectetur</a></li>
	  <li><a href="#" role="menuitem">quis</a></li>
	</ul>
</div>

<div class="footer-block col-xs-6 col-sm-2 footer-navlist">
	<ul class="nav-list list-unstyled" role="menu">
	  <li class="heading">Navigation</li>
	  <li><a href="#" role="menuitem">Lorem</a></li>
	  <li><a href="#" role="menuitem">Ipsum Dolor</a></li>
	  <li><a href="#" role="menuitem">Sit amet</a></li>
	  <li><a href="#" role="menuitem">consectetur</a></li>
	  <li><a href="#" role="menuitem">ullamco</a></li>
	</ul>
</div>


<div class="footer-block col-xs-6 col-sm-2 footer-navlist">
	<ul class="nav-list list-unstyled" role="menu">
	  <li class="heading">Social</li>
	  <li><a href="#" role="menuitem">Lorem</a></li>
	  <li><a href="#" role="menuitem">Ipsum Dolor</a></li>
	  <li><a href="#" role="menuitem">Sit amet</a></li>
	  <li><a href="#" role="menuitem">consectetur</a></li>
	</ul>
</div>

<div class="footer-block col-xs-12 col-sm-4 footer-aboutus">
	<h4 class="heading">About us</h4>
	<p>
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
	</p>
</div>