<!-- IF 0 -->
## Hi there! This is where you define/modify sidebar blocks.
## Feel free to re-order or remove the existing blocks if you wish
## NOTE: Some widgets only show on certain pages
<!-- ENDIF -->

<!-- OneAll widget: only shows when enabled from slickpanel -->
<!-- EVENT st_oneall_sidebar_hook -->

<!-- Who is online -->
<!-- INCLUDE widgets/whoisonline.html -->

<!-- Statistics (shows only on index) -->
<!-- INCLUDE widgets/statistics.html -->

<!-- Birthdays -->
<!-- INCLUDE widgets/birthdays.html -->

<!-- Forum permissions (shows only on forum) -->
<!-- INCLUDE widgets/forumpermissions.html -->
