<!-- IF SLICKPANEL_INSTALLED -->
<!-- DEFINE $SELECTOR__textlogo = '.logo h1' -->
<!-- DEFINE $SELECTOR__imagelogo = '.logo h1 img' -->

<!-- DEFINE $SELECTOR__colors__primary_bg = '.itemlist__item--colbar,.cp-main h3, #tabs, .st-section__header,.btn-primary, .thead, .category-header, .section-header' -->
<!-- DEFINE $SELECTOR__colors__primary_text = '.forum-icon' -->
<!-- DEFINE $SELECTOR__colors__primary_border = '' -->

<!-- DEFINE $SELECTOR__search = '.quicksearch fieldset' -->
<!-- DEFINE $SELECTOR__search_placeholder = '.quicksearch__placeholder' -->
<!-- DEFINE $SELECTOR__search_focus = '.quicksearch--focus' -->

<!-- DEFINE $SELECTOR__container_width = '.container, .layout-boxed #wrap, .breadcrumbs-bar.detached, .layout-stretched .nav-breadcrumbs' -->

<!-- DEFINE $SELECTOR__footer = '#page-footer' -->
<!-- DEFINE $SELECTOR__container = '.layout-boxed #wrap, .container, .layout-stretched .nav-breadcrumbs, .layout-stretched .breadcrumbs-bar.detached' -->

<!-- DEFINE $SELECTOR__mainheader = '.main-header' -->
<!-- ENDIF -->