<div class="alert alert-info" style="margin-bottom: 0;">Enter your social URL's here. Leave empty to hide</div>

<!-- #SETTING: Facebook -->
<div class="slickpanel-section__setting">
	<div class="slickpanel-section__setting__label">
		<strong><i class="fi fi-facebook"></i> Facebook</strong>
	</div>
	<div class="slickpanel-section__setting__input">
		<input  class="form-control" type="text"
				name="ST_social_fb"
				data-default='none' value="{ST_social_fb}"
				/>
	</div>
</div>



<!-- #SETTING: Twitter -->
<div class="slickpanel-section__setting">
	<div class="slickpanel-section__setting__label">
		<strong><i class="fi fi-twitter"></i> Twitter</strong>
	</div>
	<div class="slickpanel-section__setting__input">
		<input  class="form-control" type="text"
				name="ST_social_twitter"
				data-default='none' value="{ST_social_twitter}"
				/>
	</div>
</div>



<!-- #SETTING: Google plus -->
<div class="slickpanel-section__setting">
	<div class="slickpanel-section__setting__label">
		<strong><i class="fi fi-google-plus"></i> Google plus</strong>
	</div>
	<div class="slickpanel-section__setting__input">
		<input  class="form-control" type="text"
				name="ST_social_gplus"
				data-default='none' value="{ST_social_gplus}"
				/>
	</div>
</div>



<!-- #SETTING: Youtube -->
<div class="slickpanel-section__setting">
	<div class="slickpanel-section__setting__label">
		<strong><i class="fi fi-youtube-play"></i> Youtube</strong>
	</div>
	<div class="slickpanel-section__setting__input">
		<input  class="form-control" type="text"
				name="ST_social_youtube"
				data-default='none' value="{ST_social_youtube}"
				/>
	</div>
</div>