<!-- INCLUDE mcp_header.html -->

<!-- DEFINE $CUSTOM_FIELDSET_CLASS = 'forum-selection2' -->
<!-- INCLUDE jumpbox.html -->

<form method="post" id="mcp" action="{S_MCP_ACTION}">
	
	<div class="st-section">
	<h3 class="st-section__header"><a href="{U_VIEW_FORUM}">{L_FORUM}{L_COLON} {FORUM_NAME}</a></h3>
	<!-- IF .topicrow -->
		<ul class="itemlist itemlist--mcp itemlist--topics">
		<!-- BEGIN topicrow -->
			<li class="itemlist__item {topicrow.TOPIC_IMG_STYLE}<!-- IF topicrow.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			<div class="item-inner">
				<div class="item-col-icon">
					<i class="fi item-icon"></i>
					<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}" class="newestpost-link"></a><!-- ENDIF -->
				</div>
				
				<div class="item-col-main">
					<!-- IF topicrow.TOPIC_ICON_IMG and S_TOPIC_ICONS --><img class="item-icon-img" src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" alt="{topicrow.TOPIC_FOLDER_IMG_ALT}"><!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_MOVED --><span class="label label-default" title="{L_TOPIC_MOVED}"><i class="fi fi-arrow-{S_CONTENT_FLOW_BEGIN}"></i> <span class="st__cleanstring">{L_VIEW_TOPIC_MOVED}</span></span><!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_LOCKED --><span class="item-ti has-tooltip" title="{L_TOPIC_LOCKED_SHORT}"><i class="fi fi-lock"></i></span><!-- ENDIF -->
					
					<!-- IF topicrow.S_SELECT_TOPIC --><a href="{topicrow.U_SELECT_TOPIC}" class="item-title-action">{L_SELECT_MERGE}</a><!-- ENDIF -->

					<a href="{topicrow.U_VIEW_TOPIC}" class="item-title">{topicrow.TOPIC_TITLE}</a>
					
					<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
						<a href="{topicrow.U_MCP_QUEUE}" class="item-ti item-ti--unapproved has-tooltip" title="{L_POSTS_UNAPPROVED_FORUM}"><i class="fi fi-flag"></i></a>
					<!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_DELETED or topicrow.S_POSTS_DELETED -->
						<a href="{topicrow.U_MCP_QUEUE}" class="item-ti item-ti--deleted has-tooltip" title="{L_TOPIC_DELETED}"><i class="fi fi-recycle"></i></a>
					<!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_REPORTED -->
						<a href="{topicrow.U_MCP_REPORT}" class="item-ti item-ti--reported has-tooltip" title="{L_TOPIC_REPORTED}"><i class="fi fi-alert"></i></a>
					<!-- ENDIF -->
					<!-- IF topicrow.S_MOVED_TOPIC and S_CAN_DELETE --><a href="{topicrow.U_DELETE_TOPIC}" class="item-title-action">{L_DELETE_SHADOW_TOPIC}</a><!-- ENDIF -->
					
					<div class="item-info">
						{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL}{L_COMMA_SEPARATOR} <span class="timestamp">{topicrow.FIRST_POST_TIME}</span>
						<!-- IF postrow.ATTACH_ICON_IMG --><i class="item-info__icon fi fi-attachment has-tooltip" title="{L_TOTAL_ATTACHMENTS}"></i><!-- ENDIF -->
					</div>
					<div class="item-info--inline">
							{L_LAST_POST} {L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL} <span class="timestamp">{topicrow.LAST_POST_TIME}</span>
					</div>
					<div class="item-stats--inline">
						<span class="item-stat__count formatted-numcounter">{topicrow.REPLIES}</span> <span class="item-stat__label">{L_REPLIES}</span>
					</div>
				</div>
				
				<div class="item-col-stats">
					<div class="item-stat">
						<div class="item-stat__count">{topicrow.REPLIES}</div>
						<div class="item-stat__label">{L_REPLIES}</div>
					</div>
				</div>
				
				<div class="item-col-lastpost">
					{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL} <br />
					<a href="{topicrow.U_LAST_POST}" class="item-lastpost__time"><span class="timestamp">{topicrow.LAST_POST_TIME}</span></a>
				</div>
				
				<!-- IF not S_MERGE_SELECT -->
				<div class="item-col-mark">
					<!-- IF not topicrow.S_MOVED_TOPIC --><input type="checkbox" name="topic_id_list[]" value="{topicrow.TOPIC_ID}"<!-- IF topicrow.S_TOPIC_CHECKED --> checked="checked"<!-- ENDIF --> /><!-- ELSE -->&nbsp;<!-- ENDIF -->
				</div>
				<!-- ENDIF -->
				
			</div>
			</li>
		<!-- END topicrow -->
		</ul>
	<!-- ELSE -->
		<p class="st-panel notopics">{L_NO_TOPICS}</p>
	<!-- ENDIF -->
	</div>

	<fieldset class="display-options">
		<label>{L_DISPLAY_TOPICS}{L_COLON} {S_SELECT_SORT_DAYS}</label>
		<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
		<label>{S_SELECT_SORT_DIR}</label>
		<input type="submit" name="sort" value="{L_GO}" class="button2" />
	</fieldset>

	<div class="action-bar bottom">
		<!-- INCLUDE pagination.html -->
		<fieldset class="display-actions right-side">
			<!-- IF not S_MERGE_SELECT -->
			<a href="#" data-marklist='["mcp","topic_id_list"]' class="marklist-markall btn btn-default"><i class="fi fi-checkbox-multiple-marked"></i> <span class="btn-label">{L_MARK_ALL}</span></a>
			<a href="#" data-marklist='["mcp","topic_id_list"]' class="marklist-unmarkall btn btn-default"><i class="fi fi-checkbox-multiple-blank-outline"></i> <span class="btn-label">{L_UNMARK_ALL}</a>
			<select name="action">
				<option value="" selected="selected">{L_SELECT_ACTION}</option>
				<!-- IF S_CAN_DELETE --><option value="delete_topic">{L_DELETE}</option><!-- ENDIF -->
				<!-- IF S_CAN_RESTORE --><option value="restore_topic">{L_RESTORE}</option><!-- ENDIF -->
				<!-- IF S_CAN_MERGE --><option value="merge_topics">{L_MERGE}</option><!-- ENDIF -->
				<!-- IF S_CAN_MOVE --><option value="move">{L_MOVE}</option><!-- ENDIF -->
				<!-- IF S_CAN_FORK --><option value="fork">{L_FORK}</option><!-- ENDIF -->
				<!-- IF S_CAN_LOCK --><option value="lock">{L_LOCK}</option><option value="unlock">{L_UNLOCK}</option><!-- ENDIF -->
				<!-- IF S_CAN_SYNC --><option value="resync">{L_RESYNC}</option><!-- ENDIF -->
				<!-- IF S_CAN_MAKE_NORMAL --><option value="make_normal">{L_MAKE_NORMAL}</option><!-- ENDIF -->
				<!-- IF S_CAN_MAKE_STICKY --><option value="make_sticky">{L_MAKE_STICKY}</option><!-- ENDIF -->
				<!-- IF S_CAN_MAKE_ANNOUNCE -->
					<option value="make_announce">{L_MAKE_ANNOUNCE}</option>
					<option value="make_global">{L_MAKE_GLOBAL}</option>
				<!-- ENDIF -->
			</select>
			<input class="button2" type="submit" value="{L_SUBMIT}" />
			<!-- ENDIF -->
			{S_FORM_TOKEN}
		</fieldset>
	</div>

</form>

<!-- INCLUDE mcp_footer.html -->
