<!-- IF .pagination --> 
<ul class="pagination">
	
	<!-- IF BASE_URL and TOTAL_PAGES > 6 -->
		<li class="dd-container dropdown-page-jump page-jump">
			<a href="#" class="dropdown-trigger" title="{L_JUMP_TO_PAGE_CLICK}" data-toggle="dropdown" role="button"><i class="fi fi-arrow-up"></i></a>
			<div class="dropdown-menu page-jump-form" role="menu">
				{L_JUMP_TO_PAGE}{L_COLON}
				<input type="number" name="page-number" min="1" maxlength="6" title="{L_JUMP_PAGE}" class="inputbox tiny" data-per-page="{PER_PAGE}" data-base-url="{BASE_URL|e('html_attr')}" data-start-name="{START_NAME}" />
				<input class="button2" value="{L_GO}" type="button" />
			</div>
		</li>
	<!-- ENDIF -->
	
	<!-- BEGIN pagination -->
		<!-- IF pagination.S_IS_PREV -->
		<li class="previous"><a href="{pagination.PAGE_URL}" rel="prev" role="button"><i class="fi fi-chevron-double-{S_CONTENT_FLOW_BEGIN}"></i></a></li>
		<!-- ELSEIF pagination.S_IS_CURRENT -->
		<li class="active"><span>{pagination.PAGE_NUMBER}</span></li>
		<!-- ELSEIF pagination.S_IS_ELLIPSIS -->
		<li class="ellipsis" role="separator"><span>{L_ELLIPSIS}</span></li>
		<!-- ELSEIF pagination.S_IS_NEXT -->
		<li class="next"><a href="{pagination.PAGE_URL}" rel="next" role="button"><i class="fi fi-chevron-double-{S_CONTENT_FLOW_END}"></i></a></li>
		<!-- ELSE -->
		<li><a href="{pagination.PAGE_URL}" role="button">{pagination.PAGE_NUMBER}</a></li>
		<!-- ENDIF -->
	<!-- END pagination -->
	
</ul>
<!-- ENDIF -->