<!--
  _   _      _ _         _   _                   _ 
 | | | | ___| | | ___   | |_| |__   ___ _ __ ___| |
 | |_| |/ _ \ | |/ _ \  | __| '_ \ / _ \ '__/ _ \ |
 |  _  |  __/ | | (_) | | |_| | | |  __/ | |  __/_|
 |_| |_|\___|_|_|\___/   \__|_| |_|\___|_|  \___(_)
      
phpBB style name: Canvas
Author:  Tushar Singh (slickthemes.net)
-->
<!-- Here be dragons -->
<!-- DEFINE $NO_AVATAR_URL = '{T_THEME_PATH}/images/no_avatar.jpg' -->
<!-- DEFINE $NO_AVATAR = '<img src="{T_THEME_PATH}/images/no_avatar.jpg" alt="{L_USER_AVATAR}" />' -->
<!-- IF ST_post_authorAlign -->
    <!-- DEFINE $ST_post_authorAlign = ' {ST_post_authorAlign}' -->
    <!-- ELSE -->
    <!-- DEFINE $ST_post_authorAlign = ' postAuthorAlign-left' --><!-- ENDIF -->

<!-- IF ST_container__type -->
    <!-- DEFINE $ST_container__type = ' layout-{ST_container__type}' -->
    <!-- ELSE -->
    <!-- DEFINE $ST_container__type = ' layout-boxed' --><!-- ENDIF -->

<!-- IF ST_roundAvatars -->
    <!-- DEFINE $ST_roundAvatars = ' roundAvatars-enabled' --><!-- ENDIF -->